dataset-sample
dataset-medium
dataset-large
dataset-whole
__pycache__
wandb
*.tar.gz
models
.vscode
Pipfile
Pipfile.lock
.DS_Store
Deer_Photos_Labeled_New
*.png
Deer_Photo2
Deer_Photos3
Deer_Photos
deer_sample
env_label
Photos_20120715_06
output.zip
env_train
env
*.h5
test.py
predictions
data
labels.txt
Annotations_Json_Hugh.zip
extract_frame.py
Json_Deer_Harry
img/
*.mov
*.tar.gz
Flight1_png/